[submodule "hersan"]
	path = hersan
	url = git@git.vauxoo.com:vauxoo/hersan.git
	branch = 14.0
[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 14.0
[submodule "hr"]
	path = hr
	url = git@github.com:Vauxoo/hr.git
	branch = 14.0
[submodule "hr-advanced"]
	path = hr-advanced
	url = git@git.vauxoo.com:vauxoo/hr-advanced.git
	branch = 14.0
[submodule "l10n-mx-payroll"]
	path = l10n-mx-payroll
	url = git@git.vauxoo.com:vauxoo/l10n-mx-payroll.git
	branch = 14.0
